dnspython==1.16.0
Werkzeug==1.0.1
Flask==1.1.1
Flask-Login==0.4.1
Flask-Session==0.3.1
Flask_SocketIO==4.3.0
itsdangerous==1.1.0
Jinja2==2.10.2
MarkupSafe==1.1.0
python-engineio==3.11.1
python-socketio==4.6.0
six>=1.12
Flask-FontAwesome==0.1.4
more_itertools==8.4.0
redis==3.5.3
pytest==5.4.3
coverage==4.5.2
fakeredis==1.4.1
mock==4.0.2
gunicorn==20.0.4
eventlet==0.26.0
giphy_client==1.0.0
